{:kotoba.app/id "cloud.itonami.isic-5630", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreictze7ww73ndlbpyavnl7tnzx4nxllaetqmqpwryl2up3t6sg35de", :kotoba.app/embed-url "ipfs://bafkreictze7ww73ndlbpyavnl7tnzx4nxllaetqmqpwryl2up3t6sg35de", :published {:archive "https://kotobase.net/ipfs/bafkreictze7ww73ndlbpyavnl7tnzx4nxllaetqmqpwryl2up3t6sg35de", :size 73997, :put-status 201, :get-status 200, :at "2026-08-15T13:35:05.619Z"}}
